/* Container */
.container {
  width: 80%;
  margin: 0 auto;
}

/* Cards */
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  margin-bottom: 20px;
}

.card img {
  border-radius: 50%;
}

.card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.card .button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.card .button:hover {
  background-color:
  #82a59e;
}

.card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card .social-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card .social-links li {
  display: inline-block;
  margin-right: 10px;
}

.card .social-links li:last-child {
  margin-right: 0;
}

.card .social-links a {
  text-decoration: none;
  color: #235677;
}

.card .social-links a:hover {
  color: #061423;
}
